legend {
  text-align: center;
  display: flex;
  flex-direction: column;
}
fieldset {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  justify-content: space-around;
}
body {
  font-family: Roboto;
}
.name {
  margin: 0px;
  padding: 0px;
}
.position {
  margin-top: 0px;
}
hr {
  border-color: #0d1137;
}
