body {
  background-color: #fff;
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1500px;
  height: 1000px;
  margin-top: -500px;
  margin-left: -750px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: visible;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mySvg {
  margin: 1px;
  width: 30px;
}

.available {
  fill: #e1e8f8;
}

.available:hover {
  fill: #d4d6da;
  cursor: pointer;
}

.booked {
  fill: #4d81ff;
}
.booked:hover {
  fill: #4d81ff;
  cursor: not-allowed;
}
.selected {
  fill: #feba00;
}
.selected:hover {
  fill: #ffeebf;
  cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.screen {
  background-color: #e1e8f8;
  height: 100px;
  width: 500px;
  border-radius: 10px;
  margin-top: 300px;
  padding-left: 750px;
  transform: perspective(80px) rotateX(-1deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.container {
  margin-top: 100px;
  margin-bottom: 300px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Left-Gap Left-Gap . . . . . . . . Partition . . . . . . . . Right-Gap Right-Gap"
    ". . . . . . . . . . Partition . . . . . . . . . ."
    ". . . . . . . . . . Partition . . . . . . . . . ."
    ". . . . . . . . . . Partition . . . . . . . . . ."
    ". . . . . . . . . . Partition . . . . . . . . . ."
    ". . . . . . . . . . Partition . . . . . . . . . ."
    ". . . . . . . . . . Partition . . . . . . . . . .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.Left-Gap {
  grid-area: Left-Gap;
}
.Right-Gap {
  grid-area: Right-Gap;
}
.Partition {
  margin: 15px;
  grid-area: Partition;
}
